<div class="header translucent fixed" style="z-index: 111">
    <div id="topads">
    </div>
    <div class="top-bar">
        <div class="top-bar-wrap">
            <ul class="nav-left" id="top_bar_nav">
                <li><a target="_blank" href="/pages/serviceRevision/ProblemDetails.html?0c770574bebd48618017e9602ff592fb" titel="TCL人的内购平台" >T严选（TCL人的内购平台）介绍及疑问</a></li>
                <% __result__.getActiveFirstBars && __result__.getActiveFirstBars.retData && __result__.getActiveFirstBars.retData.length &&  __result__.getActiveFirstBars.retData.forEach(function (ele, index , arr) {%>
                    <%if(index <6) {%>
                        <%if(ele.titleName == 'TCL新闻') {%>
                            <!--<li><a target="_blank" href="<%=ele.url%>" titel="<%=ele.titleName%>" ><%=ele.titleName%></a></li>-->
                        <%}else{%>
                            <!--<li><a target="_blank" rel="nofollow" href="<%=ele.url%>" titel="<%=ele.titleName%>" ><%=ele.titleName%></a></li>-->
                        <%}%>
                    <%}%>
                <%})%>
            </ul>
            <!--<a class="fansuec" href="http://fans.tcl.com/uec">用户体验中心</a>-->
            <!--<a class="fansuec" rel="nofollow" href="/page/ueCenter/ueCenter">用户体验中心</a>-->
            <ul class="nav-right" id="nav-right">
                <% include ./loginbar %>
                <li class=""><a class="index_cart" rel="nofollow" href="" >我的订单</a>
                </li><i></i>
                <li class="index_cart_li"><a class="index_cart" rel="nofollow" href="/pages/cart/cart.html" >购物车</a><span class="newheader-circle" id="newhead_cart">( 0 )</span>
                </li>
                <!--<i></i>-->
                <!--<li class="wechat_box">-->
                    <!--<a href="###"><i class="wechat_icon"></i>员工内购WAP端</a>-->
                    <!--<div class="wechat">-->
                        <!--<img src="/app/images/wechat.jpg">-->
                        <!--<p>关注公众号<br>一键下单购买</p>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <!--<div class="nav">-->
        <!--<div class="nav-bor">-->
            <!--<div class="nav-bar"><span class="close"></span>-->
                <!--&lt;!&ndash;<div class="hea-box hot"></div>&ndash;&gt;-->
                <!--<div class="saerch">-->
                    <!--<span class="fl">&#xe614;</span>-->
                    <!--<input type="text" class="nav-saerch" value="" placeholder="输入查询的商品">-->
                    <!--<div class="hot-words"></div>-->
                <!--</div>-->
                <!--<div class="menu-wrap clearfix">-->
                    <!--<h1 class="hea-box fl"><a title="TCL内购商城" href="/" class="logo">&#xe6a9;</a></h1>-->
                    <!--<div class="menu fl">-->
                        <!--<i class="menu_line"></i>-->
                        <!--<div class="mes" data-id="0">-->
                            <!--<a href="/">首页</a>-->
                        <!--</div>-->
                        <!--<div class="mes" data-id="1">-->
                            <!--<a href="/tv">电视</a>-->
                        <!--</div>-->
                        <!--<div class="mes" data-id="2">-->
                            <!--<a href="/mobile">手机</a>-->
                        <!--</div>-->
                        <!--<div class="mes" data-id="3">-->
                            <!--<a href="/air">空调</a>-->
                        <!--</div>-->
                        <!--<div class="mes" data-id="4">-->
                            <!--<a href="/refrigerator">冰箱</a>-->
                        <!--</div>-->
                        <!--<div class="mes" data-id="5">-->
                            <!--<a href="/washer">洗衣机</a>-->
                        <!--</div>-->
                        <!--<div class="mes" data-id="6">-->
                            <!--<a href="/homeappliance">健康电器</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="menu-late fr">-->
                        <!--&lt;!&ndash;<font class="font"></font>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="/pages/service-home/index.html" rel="nofollow" target="_blank">服务</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="http://fans.tcl.com/" rel="nofollow" target="_blank">社区</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="http://hy.tcl.com/" rel="nofollow" target="_blank">积分兑换</a>&ndash;&gt;-->
                        <!--<span class="menu-late-search">-->
                            <!--<input class="ser-input" placeholder="电视" value=""/>-->
                            <!--<span><font class="sear">&#xe614;</font></span>-->
                            <!--<ul class="input-list" style="display: none;">-->
                            <!--</ul>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="menu-list" style="display: none;">-->

         <% if(__result__.products && __result__.products.data) { %>
           <%
                var dic = { ds: 1, sj: 2, kt: 3, bx: 4, xij: 5, jk: 6 };

                var mp = [];
                var res = __result__.products.data;
                for(var index in res) {
                    mp.push({
                        key: res[index],
                        index: dic[index]
                    })
                }
                function keysrt(key) {
                    return function(a, b) {
                        return a[key] - b[key] || -1;
                    }
                }
                var cao = mp.sort(keysrt('index'))
            %>
            <!--<div class="li" data-id="0"></div>-->
            <!--<% cao.forEach(function (ele, index, arr) {%>-->
            <!--<div class="li menuBarLi" data-id="<%=ele.index%>">-->
                <!--<ul>-->
                    <!--<% ele.key.forEach(function (item, index, arr) {%>-->
                        <!--<li>-->
                        <!--<a target="_blank" href="<%=item.url %>">-->
                            <!--<span class="m_img"><img src="/app/images/loading.gif" data-o="<%=item.imgUrl%>" data-load=false class="header_img" alt="<%=item.productName%>"></span>-->
                            <!--<p class="m_tit"><%=item.productName%></p>-->
                            <!--<p class="red" id="plathead_'<%=item.productUuid%>">-->
                                    <!--<% if(item.promotionPrice) {%>-->
                                        <!--<%=(parseFloat(item.promotionPrice).toFixed(2))%>-->
                                    <!--<%} else {%>-->
                                        <!--<%=(parseFloat(item.price).toFixed(2))%>-->
                                    <!--<%}%>元-->
                            <!--</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<%})%>-->
                <!--</ul>-->
                <!--</div>-->
            <!--<%})%>-->
        <%}%>
    <!--</div>-->
</div>
