<li><a href=http://www.tcl.com/search/search?keyword=电视&sortBy=sortWeight>电视</a><i class="flex-next">&#xe631;</i>
    <div class="child-category">
        <div class="clearfloat">
            <div class="level2-category">TCL电视<i class="flex-next">&#xe631;</i></div>
            <ul class="level3-category clearfloat">
                <li><a href=http://www.tcl.com/tv>曲面系列</a></li>
                <li><a href=null>4K系列</a></li>
                <li><a href=null>智能电视</a></li>
                <li><a href=null>3D电视</a></li>
                <li><a href=null>超高清UHD电视</a></li>
            </ul>
            <div class="clearfloat">
                <div class="level2-category">乐华电视<i class="flex-next">&#xe631;</i></div>
                <ul class="level3-category clearfloat">
                    <li><a href=null>液晶电视</a></li>
                    <li><a href=null>平板电视</a></li>
                </ul>
                <div class="clearfloat">
                    <div class="level2-category">雷鸟电视<i class="flex-next">&#xe631;</i></div>
                    <ul class="level3-category clearfloat">
                        <li><a href=null>曲面电视</a></li>
                        <li><a href=null>平面</a></li>
                    </ul>
                    <div class="clearfloat">
                        <div class="level2-category">东芝电视<i class="flex-next">&#xe631;</i></div>
                    </div>
</li>
<li>
    <a href=http://manager.mall.tcl.com:80/front/productList/toProductList?categoryUuid=65e9c303dc5c4c979b17c90f1889dfac>洗衣机</a><i
        class="flex-next">&#xe631;</i>
    <div class="child-category">
        <div class="clearfloat">
            <div class="level2-category">滚筒洗衣机<i class="flex-next">&#xe631;</i></div>
            <ul class="level3-category clearfloat">
                <li><a href=null>智能APP控制</a></li>
                <li><a href=null>电脑控制</a></li>
            </ul>
            <div class="clearfloat">
                <div class="level2-category">波轮洗衣机<i class="flex-next">&#xe631;</i></div>
                <div class="clearfloat">
                    <div class="level2-category">双缸洗衣机<i class="flex-next">&#xe631;</i></div>
                    <div class="clearfloat">
                        <div class="level2-category">洗烘一体<i class="flex-next">&#xe631;</i></div>
                    </div>
</li>
<li>
    <a href=http://manager.mall.tcl.com:80/front/productList/toProductList?categoryUuid=e0f8b992d2dc456e878c8af3692a2bc0>冰箱</a><i
        class="flex-next">&#xe631;</i>
    <div class="child-category">
        <div class="clearfloat">
            <div class="level2-category">多门冰箱<i class="flex-next">&#xe631;</i></div>
            <div class="clearfloat">
                <div class="level2-category">对开门冰箱<i class="flex-next">&#xe631;</i></div>
                <div class="clearfloat">
                    <div class="level2-category">三门冰箱<i class="flex-next">&#xe631;</i></div>
                    <div class="clearfloat">
                        <div class="level2-category">双门冰箱<i class="flex-next">&#xe631;</i></div>
                        <div class="clearfloat">
                            <div class="level2-category">十字对开门冰箱<i class="flex-next">&#xe631;</i></div>
                            <div class="clearfloat">
                                <div class="level2-category">单门洗衣机<i class="flex-next">&#xe631;</i></div>
                            </div>
</li>
<li>
    <a href=http://manager.mall.tcl.com:80/front/productList/toProductList?categoryUuid=76166a8657f64568bb1a2fb26443b959>空调</a><i
        class="flex-next">&#xe631;</i>
    <div class="child-category">
        <div class="clearfloat">
            <div class="level2-category">定频<i class="flex-next">&#xe631;</i></div>
            <div class="clearfloat">
                <div class="level2-category">变频<i class="flex-next">&#xe631;</i></div>
            </div>
</li>
<li><a href=null>健康电器</a><i class="flex-next">&#xe631;</i></li>
<li>
    <a href=http://manager.mall.tcl.com:80/front/productList/toProductList?categoryUuid=65e9c303dc5c4c979b17c90f1889dfac>其他</a><i
        class="flex-next">&#xe631;</i></li>